
/*#box {
    background-color: blue;
    color: white;
}

/*.heading{
    color: red;
}*/


/*h1,h2,h3{
    color :red;
}


button{
    background-color:green ;
}

*{
    font-family: "Times New Roman";
}

h1{
    text-align: center;
    text-transform: capitalize;
}


#outer{
    font-size: 25px;
}


#inner{
    font-size: 10px;
}
  
div{
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

*{
    padding: 10px;
    margin:10px;
    color: white;

}

#navbar{
    height: 60px;
    background-color: #0f0101;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
}

a{
    margin-right:20px ;
    text-decoration: none;
}

.contentBox{
    height:100px;
   width:100px;
    border:2px solid black;
    display: inline-block;
}
#content{
    height: 500px;
}

footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}


div{
    height: 100px;
    width: 100px;
    background-image: url("flower_photo.jpg");
    background-size: cover;
    background-color: white;
    position: fixed;
    right: 0px;
}

div{
    background-color: pink;
    display: flex;
    justify-content: center;
}

a{
  text-decoration:none ;  
  color: black;
  background-color: aqua;
}

li{
    list-style-type: none;
    display: inline;
}

.navbar{
    background-color: pink;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:white;
}


li{
    list-style-type: none;
    background-color: red;
}

.outer{
    height:400px;
    width:400px;
    background-color:cornflowerblue ;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.inner{
    height:100px;
    width:100px;
    background-color:darkmagenta;
    align-items: flex-start;
    
}


div{
    height: 200px;
    width: 200px;
    background-color: chocolate;
}


@media  (max-width:300px){
    div{
        background-color: green;
    }
}

@media  (max-width:300px) and (max-width:400px){
    div{
        background-color:;
    }
}


@media  (min-width:400px) and (max-width:600px){
    div{
        background-color:red;
    }
}

@media  (min-width:300px){
    div{
        background-color:bluepra;
    }
}*/


.loader{
    width:200px;
    height: 200px;
    border-radius: 50%;
    border:20px solid #FFE66D;
    border-top:10px solid #4ECDC4;
    animation:spinAnimate 3s steps(5) 0s infinite normal;
   
}

@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
    
}
    
    
